 $color-one: #030027;
 $color-two: #F2F3D9;
 $color-three: #DC9E82;
$color-four: #151E3F;

 body {
     margin: 0;
     font-size: 16px;
     text-align: center;
 }
 .rules {
     width: 100%;
     padding: 32px 20px;
     margin: auto;
     background-color: $color-four;
     color: $color-two;
 }
 .rules i {
     font-size: 30px;
     width: 70px;
     height: 70px;
     line-height: 70px;
     border-radius: 50%;
     text-align: center;
     display: inline-block;
     background-color: $color-two;
     color: $color-four;
 }
 .splash {
     display: flex;
     height: 600px;
     font-size: 32px;
     margin: auto;
     background-color: $color-one;
     color: $color-two;
 }
 .splash-inner {
     margin: auto;
     max-width: 75%;
 }
 .page-title, .page-subtitle {
     line-height: 1.4;
 }
 .row {
     padding: 32px 0;
 }